.container{
    color: var(--text);
    padding: 2rem 1rem;
}

.heading{
    text-transform: uppercase;
    font-family: var(--font-display);
    font-size: clamp(1.5rem,2vw,2.25rem);
    line-height:1;
    font-weight: 900;
    letter-spacing: -.04em;
}

.desc{
    margin-top: .75rem;
    font-family: var(--font-mono);
    color: var(--text-muted);
    line-height: 1.6;
    max-width: 65ch;
}