:root {
  /* Backgrounds */
  --bg: #131315;
  --surface: #1b1b1d;
  --surface-2: #2a2a2c;

  /* Borders */
  --border: #454655;
  --border-active: #bec2ff;

  /* Brand */
  --primary: #5865f2;
  --primary-light: #bec2ff;

  --secondary: #c00019;
  --secondary-light: #ffb3ad;

  /* Text */
  --text: #e5e1e4;
  --text-muted: #c6c5d7;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;

  /* Layout */
  --container: 1280px;
  --gutter: 24px;

  /* Fonts */
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

body{
  background-color: #131315;
}